[{sasl,[{errlog_type,error}]},
 {logger,[{console,[{level,info},
                    {format,<<"$date $time [$level] $message\n">>}]},
          {backends,[{'Elixir.LoggerFileBackend',debug_log}]},
          {debug_log,[{path,<<"logs/test.log">>},{level,debug}]}]},
 {wakesiah,[{test_remote_name,nonode@nohost}]}].
